includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 7
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
    stubFiles:
        - stubs/IlluminateDatabaseQueryBuilder.stub
    tmpDir: build/cache/phpstan
    treatPhpDocTypesAsCertain: false
