includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 7
    paths:
        - app
        - bootstrap
        - config
        - database
        - routes
    tmpDir: build/cache/phpstan
    treatPhpDocTypesAsCertain: false

services:
    -
        class: App\PHPStan\DatabaseQueryBuilderExpressionTypeExtension
        tags:
            - phpstan.broker.expressionTypeResolverExtension
